
input {
    border-radius: 3px;
    border: 2px solid silver;
    padding: 5px;
    margin-left: 5px;
    margin-right: 50px;
}

    input:focus {
        border: 2px solid #8c00ff;
    }

form #submitBtn {
    float: left;
    margin-top: 10px;
    color: #1814d1;
    font-size: 1.4em;
    cursor: pointer;
}

    form #submitBtn:hover {
        background-color: #d9e0ff;
    }

form input:focus {
    border: 2px solid #8c00ff;
}

td {
    width: 75px;
    height: 75px;
    text-align: center;
}

.remove-btn {
    background: red;
    color: white;
}

